
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: #444;
}

p {
  font-size: 18px;
  line-height: 1.5font-
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

/* Style untuk gambar header */
.header {
  background-image: url(header.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.header-overlay {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.header-title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px #333;
}

.header-subtitle {
  font-size: 24px;
  margin: 0;
  text-shadow: 1px 1px #333;
}

@media screen and (max-width: 767px) {
  .header {
    height: 300px;
  }

  .header-title {
    font-size: 36px;
  }

  .header-subtitle {
    font-size: 18px;
  }
}
